<% include head.ejs %>

<div class="container">
    <%if(!index){%>
        <div class="page-toc">
            <%- toc_html %>
        </div>

        <div class="content markdown-body">

            <%- markdown_html %>

        </div>
    <%}else{%>
    <div class="jw-style">欢迎大家来学习前端课程</div>

    <ul class="understand-me">
        <li>
            <img src="static/img/icon1.png" alt=""/> <br/><br/>
            <span>平台</span> <br/> <br/>
            <p>在这里不仅仅展示我们的团队，每个人都可以转载发表自己觉得有用的知识，这里更是一个交流学习的平台！</p>
        </li><li>
            <img src="static/img/icon2.png" alt=""/> <br/><br/>
            <span>进步</span> <br/> <br/>
            <p>进步是自然界中神秘的概念，任何生物都是沿用这一条件和大自然保持着同步,在这里，我们将获得进步的喜悦！</p>
        </li><li>
            <img src="static/img/icon3.png" alt=""/> <br/><br/>
            <span>圈子</span> <br/> <br/>
            <p>“圈子”实际上就是物以类聚，人以群分。在这里，我们要建立一个互联网技术的圈子，大家在圈子里从陌生到熟悉，成为朋友！</p>
        </li>
    </ul>

    <%}%>
</div>
<% include footer.ejs %>
<%if(index){%>
<div class="footers"></div>
<%}%>
<script>

</script>